{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'linked.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="middle">
        <h4 style="text-align: center">Forgot Password</h4>
        <hr>
        <div class="inside-middle">
    <form method="POST" action="">
        {% csrf_token %}
        <label>Email:</label><br>
        <input type="email" name="mail" id="in"><br><br>
        <label>Old Password:</label><br>
        <input type="password" name="opasswd" id="in"><br><br>
        <label>New Password:</label><br>
        <input type="password" name="npasswd" id="in"><br><br>
        <input type="submit" name="submit" value='Forgot Password' class="submit-btn">
    </form>
    </div>
    </div>
    {% if message %}
    <script>alert('{{message}}') </script>
    {% endif %}
</body>
</html>